
<div class="row">
    <div class="bg-auth-group col-lg-4 col-md-12 ">
         <img src="./../../../assets/images/logo.png" class="logo_header"/>
         <p class="para_bg_login">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         </p>
    </div>

    <div class="col-lg-8 col-md-12" style="margin-top: 8%;">

        <div class="login_auth_box w-50 m-auto ">
            <h2 class="ProductSansBold login_heading text-center">Welcome back to Corell Notes Administrator Panel</h2>
           
          <div class="social_login_box">
            
              <!-- <a href="#" class="social_anchor_login">
                  <img src="assets/images/google.svg" class="google_icon"/>
                Continue with Google
              </a>
              <a href="#" class="social_anchor_login bg-blue">
                <img src="assets/images/facebook.svg" class="google_icon"/>
                Continue with Facebook
              </a> -->

              <div class="email_sign-new my-4">
                  <p>Please enter your email address and password to login</p>
              </div>
          </div>
          

          <form class="form_login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <input type="email" class="form_login_n"  placeholder="Email" formControlName="email"  required [ngClass]="{ 'has-error': submitted && formControls.email.errors }" />
                  <div class="alert- mt-2" *ngIf=" submitted && formControls.email.errors || loginForm.controls['email'].dirty || loginForm.controls['email'].touched">
                    <ng-container *ngIf="loginForm.controls['email'].hasError('required')">
                      <span class="redColor">Email is required</span>
                    </ng-container>
                    <ng-container *ngIf="loginForm.controls['email'].hasError('pattern');">
                      <span class="redColor">Please enter valid email</span>
                    </ng-container>
                  </div>
             
                </div>

              <div class="form-group">
                <input type="password" class="form_login_n" placeholder="Password" formControlName="password" [ngClass]="{ 'has-error': submitted && formControls.password.errors }" />
                <div  class="alert- mt-2" *ngIf=" submitted && formControls.email.errors ||loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                  <ng-container *ngIf="loginForm.controls['password'].hasError('required');">
                    <span class="redColor">Password is required</span>
                  </ng-container>
                  <ng-container *ngIf="loginForm.controls['password'].hasError('pattern');">
                    <span class="redColor">Please enter valid password</span>
                  </ng-container>                 
                </div>
              </div>
            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck" >
                  <label class="form-check-label form_rember" for="gridCheck">
                    Remember this device
                  </label>
                </div>
                <p class="para_forgot">
                    <a href="forget_password.html" >
                        Forgot your password?
                    </a></p>
            </div>

            <div class="form-group">
               <input type="submit" value="Sign in" class="form_submit"/>
            </div>
          </form>
        
        </div>
         
        <footer class="footer_class">
            <div class="row">
                <div class="col-lg-8 order-mobile-tab-1">
                   <ul class="footer_unders">
                       <li><a>@2020</a></li>
                       <li><a>Terms of use</a></li>
                       <li><a>Privacy policy</a></li>
                       <li><a>Trust & Safety</a></li>
                   </ul>
                </div>
                
            </div>
        </footer>
    </div>
</div>