<div class="wrapper">
  <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

  <!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
  <!-- Sidebar  -->
  <app-sidebar></app-sidebar>


  <!--sidebar ends----->

  <!-- Page Content  -->
  <div id="content" style="background: #F7F9FC;">


    <div class="container-fluid">



      <div class="row d-flex justify-content-between mr-0">
        <div class="col-md-6">
          <p class="section-heading">Users Management</p>
          <p class="section-subheading">Good Morning, Summer</p>
        </div>
        <div class="col-md-4 d-flex justify-content-end mb-auto">

          <div class="search-box">
            <i class="fa fa-search positio_icon1"></i>
            <input type="text" name="" placeholder="What are you searching for...?" class="input_header1">
          </div>

        </div>
        <div class="col-md-2 text-right mb-auto">
          <div class="d-flex justify-content-end">
            <img src="assets/images/notif.png" class="header-icon">
            <img src="assets/images/logout.png" class="header-icon">
          </div>
        </div>
        <!-- <div class="col-md-6 text-right">
                              <button class="color-button" data-toggle="modal" data-target="#myModal">Invite Users</button>
                           </div> -->
      </div>

      <div class="overflow-div">
        <div class="bg-white p-4 curved mt-2">
          <div class="tab-content">
            <div id="home" class="tab-pane fade show active">
              <div class="">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length dataTables_length1 d-flex m-auto" id="example_length">
                      <label class="d-flex mb-0">
                        <p class=" pt-2 registerd-user mb-0 mr-2">SortBy:</p>
                        <div class="slim-div">
                        <select name="example_length" aria-controls="example" (change)="onChange($event)"
                          id="user-toggle" style="width: 150px;padding-top: 4px;">
                           <option value="All users" class="head-option">All users</option>
                          <option *ngFor="let item of planList;" value={{item.planName}}>{{item.planName}}</option>
                        </select>
                        </div>
                      </label>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6 d-flex justify-content-end position-relative" style="top: -7px">
                    <button class="color-button" data-toggle="modal" data-target="#myModal">Invite Users</button>
                    <p class="registerd-user pl-3 position-relative" style="top: 10px;">{{Registered}} Registered Users
                    </p>

                  </div>
                </div>
              </div>
              <!---modal---->
              <!-- Button trigger modal -->



            </div>
            <!--modal ends--->
             <div class="overflow-table">
            <table id="example" class="table table-striped" style="width:100%">
              <thead>
                <tr class="admin_table table-style">
                  <th>Name</th>
                  <th>Email Address</th>
                  <th>Invitation</th>
                  <th>Join Date</th>
                  <th>Subscription Plan</th>
                  <th>Subscription Date</th>
                  <th>Expiry Date</th>
                  <th>Data Usage</th>
                  <th>Note Usage</th>
                  <th>Subject Usage</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngFor='let item of userList | paginate: { itemsPerPage: 10, currentPage: p }' >
                <tr class="admin_table table-style table-style-subscription-head">
                  <td>
                    <div class="d-flex align-items-center table-image-div h-100">
                      <img class="pro_icon1" src="assets/images/contact_person.png" />
                      <p class="mb-0">{{item.fullName}}</p>
                    </div>
                  </td>
                  <td>
                    <p>{{item.email}}</p>
                  </td>
                  <td>
                    <p *ngIf="item.status==0; else templateName">Self invited </p>
                    <ng-template #templateName>
                      Admin invited
                    </ng-template>
                  </td>
                  <td>
                    <p>{{item.joinDate | date}}</p>
                  </td>
                  <td><button class="gold-subscription" (click)='getUserSubHistory(item.userId)' data-toggle="modal"
                      data-target="#SubscriptionModal">{{item.planName}}</button>
                  </td>
                  <td>
                    <p *ngIf="item.subscriptionDate=='NA'; else templateName1">NA </p>
                    <ng-template #templateName1>
                      <p>{{item.subscriptionDate | date}}</p>
                    </ng-template>
                  </td>
                  <td>
                    <p *ngIf="item.expiryDate=='NA'; else templateName2">NA </p>
                    <ng-template #templateName2>
                      <p>{{item.expiryDate | date}}</p>
                    </ng-template>
                  </td>
                  <td>
                    <p>NA</p>
                  </td>
                  <td>
                    <p>{{item.totalNotes}}</p>
                  </td>
                  <td>
                    <p>{{item.totalSub}}</p>
                  </td>
                  <td>
                    <p *ngIf="item.isStatus=='1'; else templateName3">Block </p>
                    <ng-template #templateName3>
                      <p>Active</p>
                    </ng-template>
                  </td>
                  <td>
                    <div *ngIf="item.isStatus=='1'; else templateName4" class="d-flex p-0 m-0">
                      <div class=" right-icon">
                          <img src="assets/images/Group 2893.png"  data-toggle="modal"   data-target="#onBlock"
                          (click)="getUserId(item.userId)">
                      </div>
                    </div>
                    <ng-template #templateName4>
                      <div class="d-flex p-0 m-0">
                        <div class=" right-icon">
                          <img src="assets/images/Group 2893.png" type="button" data-toggle="dropdown" class="delete-icon">
                             <!-- dropdown -->
                             <div>
                              <div class="dropdown">
                                <div class="d-flex">
                                  <div class="w-100" style="position: absolute;right: -18px;">
                                    <ul class="dropdown-menu dropdown-menu-ul bg-white">
                                      <li >
                                          <div type="button" data-toggle="dropdown">
                                            <p class="logout-text px-3 py-2"><span><img src="assets/images/Group 2893.png" class="block-img"/></span>Block</p>
                                          </div>
                                      </li>
                                      <li>
                                          <div data-toggle="modal" data-target="#ondelete" (click)="getUserId(item.userId)">
                                            <p class="logout-text px-3 py-2"> <span><img src="assets/images/delete.png" class="block-img"/></span>Delete</p>
                                          </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                             <!-- dropdown ends -->
                             <div>
                                <!-- dropdown -->
                             <div>
                              <div class="blockDropdown">
                                <div class="d-flex">
                                  <div class="w-100" style="position: absolute;right: -18px;">
                                    <ul class="dropdown-menu dropdown-menu-ul bg-white">
                                      <li>
                                        <a href="#" style="padding-bottom: 0;">
                                          <div>
                                            <p class="logout-text px-3 py-2"><span><img src="assets/images/Group 2893.png" class="block-img"/></span>UnBlock</p>
                                          </div>
                                        </a>
                                      </li>
                                      <li>
                                        <a href="#" style="padding-bottom: 0;">
                                          <div data-toggle="modal" data-target="#ondelete" (click)="getUserId(item.userId)">
                                            <p class="logout-text px-3 py-2"> <span><img src="assets/images/delete.png" class="block-img"/></span>Delete</p>
                                          </div>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                             </div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                  <!-- <td>
                    <div class="" style="position: absolute;right: -18px;">
                      <button class="btn dropdown-toggle bg-transparent p-0 m-0" type="button" data-toggle="dropdown">
                        <span class="caret ml-2"></span></button>
                      <ul class="dropdown-menu dropdown-menu-ul ">
                        <li><a href="#" style="padding-bottom: 0;">
                            <div class="d-flex" style="margin-left: -6px;">
                              <img src="assets/images/Settings Icon.png" class="logout-icon">
                              <p class="logout-text">My Account</p>
                            </div>
                          </a></li>
                        <li><a href="#" style="padding-bottom: 0;">
                            <div class="d-flex" style="margin-left: -6px;">
                              <img src="assets/images/Settings Icon.png" class="logout-icon">
                              <p class="logout-text">Sign Out</p>
                            </div>
                          </a></li>
                        <li><a href="#"></a></li>
                      </ul>
                    </div>
                  </td> -->
                </tr>
                <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>

              </tbody>
              
            </table>
            
            </div>
            
            <!-- Table ends -->

          </div>
          
          <!-- <swal #deleteSwal title="Delete  file.name" etc></swal> -->

        </div>

        <!-- The Modal -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content  curved p-3" style="width: 88%;">
              <!-- Modal Header -->
              <div class="modal-header">
                <p class="profile-name">Invite New User</p>
                <button type="button" class="modal-close" data-dismiss="modal">close</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="modal-form-div">
                  <form [formGroup]="invitationForm" class="form_login w-100">
                    <div class="form-group dash-form">
                      <input formControlName="firstName" type="name" class="form_login_n dash-form-input"
                        placeholder="First Name" />
                      <div *ngIf='invitationFormError.firstName' class="alert- mt-2">{{invitationFormError.firstName}}
                      </div>
                    </div>
                    <div class="form-group dash-form">
                      <input formControlName="lastName" type="name" class="form_login_n dash-form-input"
                        placeholder="Last Name" />
                      <div *ngIf='invitationFormError.lastName' class="alert- mt-2">{{invitationFormError.lastName}}
                      </div>
                    </div>
                    <div class="form-group dash-form">
                      <input formControlName="email" type="email" class="form_login_n dash-form-input"
                        placeholder="User Email Address" />
                      <div *ngIf='invitationFormError.email' class="alert- mt-2">{{invitationFormError.email}}</div>

                    </div>
                    <div class="form-group dash-form">
                      <select formControlName="subscriptionId" id="Choose Subscriptions" name="Subscriptions"
                        class="popup-choose" id="modal-subscription1">
                        <option value=''>Choose Subscriptions</option>
                        <option *ngFor='let item of planList' value={{item._id}}>{{item.planName}}</option>
                      </select>

                      <div *ngIf='invitationFormError.subscriptionId' class="alert- mt-2">
                        {{invitationFormError.subscriptionId}}
                      </div>

                    </div>
                    <div class="form-group text-center mb-0 mt-2">
                      <button class="color-button mt-2" type="submit" (click)="onSendInvitation()">Send Invitation</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- delete model -->
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div class="modal fade" id="ondelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog1" role="document">
      <div class="modal-content modal-content2 p-4" style="margin-top: -9%;width: 104% !important;margin-left:45% ">
        <div class="modal-body">
          <button type="button" class="modal-close text-right position-relative" style="right: -92%;"
            data-dismiss="modal">close</button>
          <h2 class="py-5">Do you really want to perform?</h2>
          <div class="d-flex justify-content-between">
            <button class=" btn btn-danger px-5" (click)="deleteUser()">Delete</button>
            <!-- onblock-model -->
            <button class="btn btn-info px-5" (click)="blockUser()">Block</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="onBlock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog1" role="document">
    <div class="modal-content modal-content2 p-4" style="margin-top: -9%;width: 104% !important;margin-left:45% ">
      <div class="modal-body">
        <button type="button" class="modal-close text-right position-relative" style="right: -92%;"
          data-dismiss="modal">close</button>
        <h2 class="py-5">Do you really want to perform?</h2>
        <div class="d-flex justify-content-between">
          <button class="btn btn-danger px-5" (click)="deleteUser()">Delete</button>
          <!-- onblock-model -->
          <button class="btn btn-success px-5" (click)="unblockUser()">Unblock</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="ondelete-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog1" role="document">
      <div class="modal-content modal-content2 p-4" style="margin-top: -9%;width: 104% !important;margin-left:45% ">
        <div class="modal-body">
          <button type="button" class="modal-close text-right position-relative" style="right: -92%;"
            data-dismiss="modal">close</button>
          <h2 class="py-5">Do you really want to Delete?</h2>
          <div class="d-flex justify-content-between">
            <button class="color-button bg-danger px-5" (click)="deleteUsers()">Yes</button>
            <button class="color-button bg-info px-5" (click)="notDelete()">No</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<div class="modal fade" id="onblock-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog1" role="document">
    <div class="modal-content modal-content2 p-4" style="margin-top: -9%;width: 104% !important;margin-left:45% ">
      <div class="modal-body">
        <button type="button" class="modal-close text-right position-relative" style="right: -92%;"
          data-dismiss="modal">close</button>
        <h2 class="py-5">Do you really want to Block?</h2>
        <div class="d-flex justify-content-between">
          <button class="color-button bg-danger px-5" (click)="BlockUsers()">Yes</button>
          <button class="color-button bg-info px-5" (click)="notDelete()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end -->
<!--subscription model----------->
<!-- Modal -->
<div class="modal fade" id="SubscriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog1" role="document">
    <div class="modal-content modal-content2 p-2 " style="margin-top: -9%;">

      <div class="modal-header">
        <p class="profile-name">Subscription History</p>
        <button type="button" class="modal-close" data-dismiss="modal">close</button>
      </div>

      <div class="modal-body pt-0">
        <!--modal body start--->

        <table id="example" class="table table-striped" style="width:100%">

          <thead>
            <tr class="admin_table table-style table-style-subscription table-style1">
              <th>Name & Email Address</th>
              <th>Subscription Plan</th>
              <th>Subscription Date</th>
              <th>Expiry Date</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="admin_table table-style table-style1" *ngFor='let item of userSubHistory' >
              <td>
                <div class="d-flex align-items-center table-image-div">
                  <img class="pro_icon1" src="assets/images/contact_person.png">
                  <p class="mb-0">{{userDetails.userName}}</p><br/>
                  <p class="subscriber-email">{{userDetails.email}}</p>

                </div>
              </td>
              <td>
                <p>{{item.subscriptionId.planName}}</p>
              </td>
              <td>
                <p>{{item.date | date}}</p>
              </td>
              <td>
                <p>{{item.expiryDate | date}}</p>
              </td>
              <td>
                <p>${{item.subscriptionId.planPrice}}</p>
              </td>
              <td>
                <p class="text-primary">Active</p>
              </td>
            </tr>
                      </tbody>
        </table>


        <!--modal body ends--->