<div class="wrapper">
  <app-sidebar></app-sidebar>


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" -->
  
	<div class="cms-overflow-div">
		<div class="row" *ngFor="let item of chatList">
			<div class="col-md-12 p-0">
				<div class="enquiry-box">
					<div class="d-flex">
						<div>
							<img src="https://lh3.googleusercontent.com/proxy/FujfA3eluYT2tjx1vXpHOMDCeIWVoqwaN78oO0hgX4Ynfp_sNkwQMfnu76hOWOL8bcQugMwipRXlfYZo02Lfm-FM-hrjXWbv6kQ6sgHwo4G4BZGZcLsa" class="pro-imgs">
						</div>
						<div class="w-100">
							<p class="mb-0 enquiry-head">{{item.subject}}</p>
							<div class="d-flex justify-content-between w-100">
							<p class="cx-name">Matt Rogers .</p>
							<p class="creation-date">Created {{item.updated_at |date}}.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
  <!--  -->
        </div>