<div class="wrapper">
  <app-sidebar></app-sidebar>


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" -->
  
	<div class="container">
		<div class="row" *ngFor="let item of chatList">
			<div class="col-md-12 p-0">
				<div class="enquiry-box">
					<div class="d-flex">
						<div>
							<img src="https://cdn0.iconfinder.com/data/icons/elasto-online-store/26/00-ELASTOFONT-STORE-READY_user-circle-256.png" class="pro-imgs">
						</div>
						<div>
							<h5 class="mb-0">{{item.subject}}</h5>
							<p>Matt Rogers .<span>Created {{item.updated_at |date}}.</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
  <!--  -->
        </div>