.enquiry-box{

    background-color: white;

    box-shadow: 0px 0px 5px lightgrey;

    margin: 5px;

    padding: 30px;

}

.pro-imgs{

    width: 50px;

    margin-right: 20px;

}
/*  */

