<div id="content" style="background: #F7F9FC;">


  <div class="container-fluid">

    <!-- <button type="button" id="sidebarCollapse" class="btn text-sidebar bg-turbo-yellow">
                      <i class="fas fa-align-left"></i>
                      <span></span>
                  </button>
                  <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="fas fa-align-justify"></i>
                  </button> -->

    <div class="row d-flex justify-content-between mr-0">
      <div class="col-md-6">
        <p class="section-heading">Users Management</p>
        <p class="section-subheading">Good Morning, Summer</p>
      </div>
      <div class="col-md-4 d-flex justify-content-end mb-auto">
        <div class="search-box">
          <i class="fa fa-search positio_icon1"></i>
          <input type="text" name="" placeholder="What are you searching for...?" class="input_header1">
        </div>
      </div>
      <div class="col-md-2 text-right mb-auto">
        <div class="d-flex justify-content-end">
          <img src="assets/images/notif.png" class="header-icon">
          <img src="assets/images/logout.png" class="header-icon">
        </div>
      </div>
      <!-- <div class="col-md-6 text-right">
                            <button class="color-button" data-toggle="modal" data-target="#myModal">Invite Users</button>
                         </div> -->
    </div>
  </div>
</div>