form {
    margin: 0px auto;
    width: 420px;
}
.form-row {
    padding: 5px 10px;
}
label {
    display: block;
    margin: 3px 0;
}
.form-row input {
    padding: 3px 1px;
    width: 100%;
}
input.currency {
    text-align: right;
    padding-right: 15px;
}
.input-group .form-control {
    float: none;
}
.input-group .input-buttons {
    position: relative;
    z-index: 3;
}

.input_custom_1
{
    position: absolute;
top: 13px;
z-index: 99;
left: 10px;
}
.input-group-addon.input_custom_MB {
    position: absolute;
    right: 18px;
    top: 33px;
    font-size: 13px;
    font-family: 'ProductSans400';
}
.p-price[type=number]{
    padding-left: 30px !important;
}
.input_date{
    border: 1px solid lightgrey;
    border-radius: 20px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-family: 'ProductSans400';
    color: gray;
}
.subs-divs{
    height: auto !important;
    padding: 2%;
    padding-bottom: 0 !important;
    border-radius: 20px;
}
.subs-card-div{
    height: 70vh;
    overflow: scroll;
}
.subs-card-div>div{
    margin: 10px 0;
}
.subscriber_table-body{
    height: 74vh;
}


.all_subs_body{
    height: 62vh;
    
  }
  .all_subs_body{
   display: block;
   overflow: scroll;
   width: 100%;
 }
 .all_subs_head, .all_subs_body tr {
   display:table;
   width:100%;
   table-layout:fixed;
 }
 .all_subs_head {
   padding: 6px 0px 0 0 !important;
 }

 .plan-price-text{
     font-size: 40px !important;
     margin-bottom: 0 !important
 }
 .plan-cards p{
  margin-bottom: 0 !important;
 }
 .plan-card-action-div{
     width: 333px;
     justify-content: space-between;
 }
 .deactivated_plan{
    background-color:#ff726f;
    border-radius: 10px;
    font-size: 13px;
    border: none;
    padding: 5.5px 40px;
    margin: 0;
    font-family: 'SF-Bold';
    font-weight: 300;
    color: white;
 }
 .plan-points-div{
     display: flex;
     width: 250px;
 }
 .plan-points-div div:nth-child(1){
     min-width: 125px;
 }
.perfomace-button{
    width: 180px !important;
}
.active-btn{

    border: 1px solid green;
}


 
  .ribbon {
    height: 0px;
    position: absolute;
    color: white;
    width: 200px;
    left: 1.9%;
    margin-top: -25px;
    font-size: 12px;
  }
  .ribbon3 span{
    top: 0px;
    position: relative;
  }
  
  .ribbon3 {
    width: 100px;
    height: 20px;
    /* line-height: px; */
    padding-left: 15px;
    position: absolute;
    left: -7px;
    top: 9px;
    background: #f33b3b;
  }
  .ribbon3:before, .ribbon3:after {
    content: "";
    position: absolute;
  }
  .ribbon3:before {
    height: 0;
    width: 0;
    top: -8.5px;
    left: 0.1px;
    border-bottom: 9px solid black;
    border-left: 9px solid transparent;
  }
  .ribbon3:after {
    height: 0;
    width: 0;
    right: -14.5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #f33b3b;
  }
  
