<div class="wrapper">
  <!-- Sidebar  -->
  <app-sidebar></app-sidebar>


  <!--sidebar ends----->

  <!-- Page Content  -->
  <div id="content" style="background: #F7F9FC;">


    <div class="container-fluid">

      <!-- <button type="button" id="sidebarCollapse" class="btn text-sidebar bg-turbo-yellow">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button> -->

      <div class="row d-flex justify-content-between mr-0">
        <div class="col-md-6">
          <p class="section-heading">Subscription Management</p>
          <p class="section-subheading">Good Morning, Summer</p>
        </div>
        <div class="col-md-4 d-flex justify-content-end mb-auto">

          <div class="search-box" style="right: -170px !important;">
            <i class="fa fa-search positio_icon1"></i>
            <input type="text" name="" placeholder="What are you searching for...?" class="input_header1">
          </div>

        </div>
        <div class="col-md-2 text-right mb-auto">
          <div class="d-flex justify-content-end">
            <!-- <img src="assets/images/notif.png" class="header-icon"> -->
            <a> <img src="assets/images/logout.png" (click)="logout()" class="header-icon"></a>

          </div>
        </div>
        <!-- <div class="col-md-6 text-right">
                          <button class="color-button" data-toggle="modal" data-target="#myModal">Invite Users</button>
                       </div> -->
      </div>

      <div class="">
        <ul class="nav nav-tabs toggle-nav">
          <li class="active">
            <a data-toggle="tab" href="#home" class="toggle-header active show">Subscription Plans</a>
          </li>
          <li>
            <a data-toggle="tab" href="#menu1" (click)="allSubscriber()" class="toggle-header">All Subscribers</a>
          </li>
          <li>
            <a data-toggle="tab" href="#menu2" class="toggle-header">Subscription History</a>
          </li>
        </ul>

        <div class="container-fluid bg-white subs-divs">

          <!--content start---->

          <div class="bg-white">
            <div class="tab-content">
              <div id="home" class="tab-pane fade show active">
                <ul class="nav nav-tabs toggle-nav">
                  <li class="active">
                    <a data-toggle="tab" href="#activePlans" class="toggle-header active show">
                      <p class="subs-light-heading mb-0">Active Plans</p>
                    </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#DeactivatedPlans"   class="toggle-header">
                      <p class="subs-light-heading mb-0">Deactivated Plans</p>
                    </a>
                  </li>
                    <div class="col-md-6 col-sm-12 px-4 text-right mb-3">
                      <button class="color-button" data-toggle="modal" data-target="#CreatePlan">Create new
                        plan</button>
                    </div>
                </ul>
                <div class="tab-content">
                <div id ="activePlans" class="tab-pane fade show active">
                  <div class="row">
                    <!-- <div class="col-md-6 col-sm-12 px-4">
                      <p class="subs-light-heading mb-0">All Plans</p>
                    </div> -->
                   
                    <div class="col-md-12 px-4 mb-2 subs-card-div">
                      <div class="" *ngFor="let plan of ActivePlans">
                        <div class="d-flex justify-content-around shadow-box align-items-center plan-cards py-3"
                          *ngIf="plan.isActive==true">
                          <div class="trial-section">
                            <p class="subs-bold-text">{{plan.planName}}</p>
                          </div>
                          <div class="text-left" style="width: 200px;">
                            <p class="subs-bold-text plan-price-text">${{plan.planPrice}}

                              <span class="subs-month p-0 m-0" *ngIf="plan.planDuration==='30'">/month</span>
                              <span class="subs-month p-0 m-0" *ngIf="plan.planDuration==='90'">/Quaterly</span>
                              <span class="subs-month p-0 m-0" *ngIf="plan.planDuration==='365'">/Yearly</span>

                            </p>
                          </div>
                          <!-- <div>
                            <p class="subs-para-light">{{plan.description}}</p>
                          </div> -->
                          <div class="plan-points-div">
                            <div class="">
                              <p class="content-text mb-0"><span><img src="assets/images/Group 4652.png"
                                    class="px-2 mb-1"></span>{{plan.configration.dataUsage}} MB Data</p>
                              <p class="content-text"><span><img src="assets/images/Group 4652.png"
                                    class="px-2"></span>{{plan.configration.subjectUsage}} Subjects</p>
                            </div>
                            <div>
                              <p class="content-text"><span><img src="assets/images/Group 4652.png"
                                    class="px-2"></span>{{plan.configration.noteUsage}} Notes</p>
                            </div>
                          </div>
                          <div class="d-flex plan-card-action-div">
                            <button (click)="onViewPerfomance(plan._id)" class="edit-button perfomace-button">View
                              Performance</button>
                            <div *ngIf="plan.isActive === true;else other_content">
                              <button (click)="editplan(plan._id)" class="edit-button" data-toggle="modal"
                                data-target="#EditPlan">Edit</button>
                            </div>
                            <ng-template #other_content>
                              <div class="ribbon">
                                <span class="ribbon3"><span>Deactivated</span></span>
                              </div>
                              <button (click)="onActivePlan(plan._id)"
                                class="edit-button btn active-btn">Active</button>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="DeactivatedPlans">
                  <div class="row">
                    <!-- <div class="col-md-6 col-sm-12 px-4">
                      <p class="subs-light-heading mb-0">All Plans</p>
                    </div> -->
                    <!-- <div class="col-md-6 col-sm-12 px-4 text-right mb-3">
                      <button class="color-button" data-toggle="modal" data-target="#CreatePlan">Create new
                        plan</button>
                    </div> -->
                    <div class="col-md-12 px-4 mb-2 subs-card-div">
                    
                      <div class="" *ngFor="let plan of deActivePlans">
                        <div class="d-flex justify-content-around shadow-box align-items-center plan-cards py-3">
                          <div class="trial-section">
                            <p class="subs-bold-text">{{plan.planName}}</p>
                          </div>
                          <div class="text-left" style="width: 200px;">
                            <p class="subs-bold-text plan-price-text">${{plan.planPrice}} <span
                                class="subs-month p-0 m-0"> /month</span>
                            </p>
                          </div>
                          <!-- <div>
                            <p class="subs-para-light">{{plan.description}}</p>
                          </div> -->
                          <div class="plan-points-div">
                            <div class="">
                              <p class="content-text mb-0"><span><img src="assets/images/Group 4652.png"
                                    class="px-2 mb-1"></span>{{plan.configration.dataUsage}} MB Data</p>
                              <p class="content-text"><span><img src="assets/images/Group 4652.png"
                                    class="px-2"></span>{{plan.configration.subjectUsage}} Subjects</p>
                            </div>
                            <div>
                              <p class="content-text"><span><img src="assets/images/Group 4652.png"
                                    class="px-2"></span>{{plan.configration.noteUsage}} Notes</p>
                            </div>
                          </div>
                          <div class="d-flex plan-card-action-div">
                            <button (click)="onViewPerfomance(plan._id)" class="edit-button perfomace-button">View
                              Performance</button>
                            <div *ngIf="plan.isActive === true;else other_content">
                              <button (click)="editplan(plan._id)" class="edit-button" data-toggle="modal"
                                data-target="#EditPlan">Edit</button>
                            </div>
                            <ng-template #other_content>
                              <div class="ribbon">
                                <span class="ribbon3"><span>Deactivated</span></span>
                              </div>
                              <button (click)="onActivePlan(plan._id)"
                                class="edit-button btn active-btn">Active</button>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>

              <!--second tab---->
              <div id="menu1" class="tab-pane fade">
                <div class="">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length dataTables_length1 d-flex" id="example_length">
                        <label class="d-flex">
                          <p class="pt-1 registerd-user mr-2">SortBy:</p>
                          <div class="slim-div">
                            <select name="example_length" aria-controls="example" (change)="onChange($event)"
                              id="Subscription-filter" style="width: 150px;margin-top: 4px;">
                              <option value="All users">All users</option>
                              <option *ngFor='let item of planList' value={{item.planName}}>{{item.planName}}</option>
                            </select>
                          </div>
                        </label>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="subscriber_table-body">
                  <table id="example" class="table table-striped" style="width:100%">
                    <thead class="all_subs_head">
                      <tr class="admin_table table-style table-style-subscription">
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Subscription Plan</th>
                        <th>Subscription Date</th>
                        <!-- <th>Expiry Date</th> -->
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody class="all_subs_body">
                      <tr class="admin_table table-style table-style-subscription-head"
                        *ngFor="let subscriber of isSubscriptionHistory | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td>
                          <!-- {{console.log(item)}} -->
                          <div class="d-flex align-items-center table-image-div h-100 sec">
                            <img class="pro_icon1" src="assets/images/contact_person.png">
                            <p class="mb-0">{{subscriber.fullName}}</p>
                          </div>
                        </td>
                        <td>
                          <p>{{subscriber.email}}</p>
                        </td>
                        <td>
                          <p>{{subscriber.Subscription_Plan}}</p>
                        </td>
                        <td>
                          <p>{{subscriber.Subscription_Date | date}}</p>
                        </td>
                        <!-- <td><p>01-01-2020</p></td> -->
                        <td>
                          <p class="status-text purple">{{subscriber.Status}}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>

              </div>

              <!--3rd content start-------->


              <div id="menu2" class="tab-pane fade">
                <div class="">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 py-2">
                      <div class="d-flex">
                        <!-- <button class="white-button mr-3" id='activeButton' (click)="onActive()"  >Active</button>
                        <button class="white-button mr-3" id='expiredButton' (click)="onExpired()">Expired</button>
                        <button class="white-button" id='allButton' (click)="onAllHisotry()">All History</button> -->
                        <div class="slim-div">
                          <select name="example_length" aria-controls="example" (change)="onChangeHistory($event)"
                            id="SubscriptionHistory-filter" style="width: 150px;">
                            <option value="Allusers">All History</option>
                            <option value="Active">Active</option>
                            <option value="Expired">Expired</option>
                            <option *ngFor='let item of planList' value={{item.planName}}>{{item.planName}}</option>
                          </select>
                        </div>
                        <div class="search-box">
                          <i class="fa fa-search positio_icon1"></i>
                          <input type="text" (change)="onChangeSearch($event)" placeholder="search by Email"
                            class="input_header1" style="background-position: 10px 5px !important; padding:6px 38px !important;border: 1px solid lightgrey;
                            border-radius: 20px;  ">

                        </div>
                        <!-- <input [(ngModel)]="searchText" type='date' placeholder="search text goes here" class="input_date" > -->

                      </div>
                    </div>
                  </div>
                </div>
                <div class="subscriber_table-body">
                  <table id="example" class="table table-striped" style="width:100%">
                    <thead class="all_subs_head">
                      <tr class="admin_table table-style">
                        <th style="padding-left: 0%;width: 280px;">Name & Email Address</th>
                        <th>Subscription Plan</th>
                        <th>Subscription Date</th>
                        <th>Expiry Date</th>
                        <th>Price</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody class="all_subs_body">
                      <tr class="admin_table table-style table-style-subscription-head"
                        *ngFor="let item of SubscriptionHistoryList | filter : searchKey |paginate: { itemsPerPage: 10, currentPage: p } ">
                        <td style="width: 280px;">
                          <div class="d-flex align-items-center table-image-div">
                            <img class="pro_icon1" src="assets/images/contact_person.png">
                            <div class="pl-2 pt-2">
                              <p class="subscriber-name mb-0">{{item.fullName}} </p>
                              <p class="subscriber-email">{{item.email}}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p>{{item.Subscription_Plan}}</p>
                        </td>
                        <td>
                          <p>{{item.date | date}}</p>
                        </td>
                        <td>
                          <p>{{item.Expiry_Date | date}}</p>
                        </td>
                        <td>
                          <p>${{item.Price}}.00</p>
                        </td>
                        <td>
                          <p class="status-text purple">{{item.Status}}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--overflow div ends---->
    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal" id="CreatePlan">
  <div class="modal-dialog">
    <div class="modal-content  curved p-3" style="width: 120%;margin-top: -18%;">

      <!-- Modal Header -->
      <div class="modal-header">
        <p class="Modal-heading">Create New Plan</p>
        <button type="button" class="modal-close" data-dismiss="modal">close</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="createPlanForm" class="form_login w-100 my-0">
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Name</p>
              <div class="form-group dash-form">
                <input type="text" formControlName='planName' class="form_login_n1 dash-form-input"
                  placeholder="Plan Name" />
                <div *ngIf='createPlanFormError.planName' class="alert- mt-2">{{createPlanFormError.planName}}</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Price</p>
              <div class="form-group dash-form">
                <div class="input-group">
                  <span class="input-group-addon input_custom_1">$</span>
                  <input type="number" formControlName='planPrice' placeholder=""
                    class="form_login_n1 dash-form-input p-price" id="c2" />
                  <div *ngIf='createPlanFormError.planPrice' class="alert- mt-2">{{createPlanFormError.planPrice}}</div>
                </div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Plan Duration</p>
              <div class="form-group dash-form">
                <div class="slim-form-div px-0">
                  <select (change)="somethingChanged($event)" formControlName='duration' id="plan-duration"
                    style="width:100%;">
                    <option value="">Choose Subscriptions</option>
                    <option value="30">Monthly</option>
                    <option value="90">Quaterly Yearly</option>
                    <option value="365">Yearly</option>
                  </select>
                </div>
                <div *ngIf='createPlanFormError.duration' class="alert- mt-2">{{createPlanFormError.duration}}</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Description</p>
              <div class="form-group dash-form">
                <textarea formControlName='description' class="form_login_n1 dash-form-input w-100 "
                  style="height: 100px !important; border-radius: 10px;padding: 10px;"></textarea>
                <div *ngIf='createPlanFormError.description' class="alert- mt-2">{{createPlanFormError.description}}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <p class="plan-form-label">Feature</p>
            <div class="form-group dash-form" formArrayName="spec"
              *ngFor='let item of createPlanForm.controls["spec"].controls; let i =index'>
              <input type="text" class="form_login_n1 dash-form-input" placeholder="Enter Specs"
                [formControlName]='i' />{{specification[i]}}
            </div>
            <a (click)='AddMoreInput()'>Add More +</a>
          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Data Usage</p>
              <div class="form-group dash-form">
                <span class="input-group-addon input_custom_MB">MB</span>
                <input type="text" name="dataUsage" class="form_login_n1 dash-form-input p-price" placeholder=""
                  formControlName="dataUsage" />
                <div *ngIf='createPlanFormError.dataUsage' class="alert- mt-2">{{createPlanFormError.dataUsage}}</div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Subject Usage</p>
              <div class="form-group dash-form">
                <input type="text" name="subjectUsage" class="form_login_n1 dash-form-input p-price" placeholder=""
                  formControlName='subjectUsage' />
                <!-- <select id="Subject-Usage" formControlName='subjectUsage' style="width: 150px;">
                  <option value="">choose subject</option>
                  <option value="10">10 Subjects</option>
                  <option value="20">20 Subjects</option>
                  <option value="100">100 Subjects</option>
                </select> -->
                <div *ngIf='createPlanFormError.subjectUsage' class="alert- mt-2">{{createPlanFormError.subjectUsage}}
                </div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Note Usage</p>
              <div class="form-group dash-form">
                <input type="text" name="noteUsage" class="form_login_n1 dash-form-input p-price" placeholder=""
                  formControlName="noteUsage" />
                <!-- <div class="slim-form-div">
                  <select formControlName="noteUsage" id="Note-Usage" style="width: 150px;">
                    <option value="">Choose an option</option>
                    <option value="100">100 Notes</option>
                    <option value="500">500 Notes</option>
                    <option value="1000">1000 Notes</option>
                  </select>
                </div> -->
                <div *ngIf='createPlanFormError.noteUsage' class="alert- mt-2">{{createPlanFormError.noteUsage}}</div>
              </div>
            </div>
          </div>
          <div class="form-group text-center mt-3">
            <button class="color-button" type='submit' (click)="savePlan()">Save
              Plan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>





<!-- The Modal -->
<div class="modal" id="EditPlan">
  <div class="modal-dialog">
    <div class="modal-content  curved p-3" style="width: 120%;margin-top: -18%;">

      <!-- Modal Header -->
      <div class="modal-header">
        <p class="Modal-heading">Edit Plan</p>
        <button type="button" class="modal-close" (click)="close()">X</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="UpdatePlanForm" class="form_login w-100">
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Name</p>
              <div class="form-group dash-form">
                <input type="name" formControlName='planName' [value]="UpdatePlanForm.value.planName"
                  class="form_login_n1 dash-form-input" placeholder="Plan Name" />
                <div *ngIf='updatePlanFormError.planName' class="alert- mt-2">{{updatePlanFormError.planName}}</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Price{{planPrice}}</p>
              <div class="form-group dash-form">
                <div class="input-group">
                  <span class="input-group-addon input_custom_1">$</span>
                  <input type="number" formControlName='planPrice' [value]="UpdatePlanForm.value.planPrice"
                    placeholder="Plan Price" class="form_login_n1 dash-form-input p-price" id="c2" />
                  <div *ngIf='updatePlanFormError.planPrice' class="alert- mt-2">{{updatePlanFormError.planPrice}}</div>
                </div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Plan Duration</p>
              <div class="form-group dash-form">
                <div class="slim-form-div px-0">
                  <select formControlName='duration' >
                    <!-- <option [selected]="duration" [ngValue]="duration">{{duration}}</option> -->
                    <option *ngFor="let data of Durations" [value]="data.Id">{{data.name}}</option>
                  </select>
                </div>
                <!-- {{isDuration}}l -->
                <div *ngIf='updatePlanFormError.duration' class="alert- mt-2">{{updatePlanFormError.duration}}</div>
              </div>
            </div>

          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Description</p>
              <div class="form-group dash-form">
                <textarea type="text" class="form_login_n1 dash-form-input w-100"
                  [value]="UpdatePlanForm.value.description" placeholder=""
                  style="height: 100px !important;border-radius: 10px;padding: 10px;"
                  formControlName='description'></textarea>
              </div>
              <div *ngIf='updatePlanFormError.description' class="alert- mt-2">{{updatePlanFormError.description}}</div>
            </div>
          </div>
          <div class="col">
            <p class="plan-form-label">Feature</p>
            <div class="form-group dash-form" formArrayName="spec"
              *ngFor='let item of UpdatePlanForm.controls["spec"].controls; let i =index'>
              <input type="text" class="form_login_n1 dash-form-input" placeholder="Enter Specs"
                [formControlName]='i' />{{specification[i]}}
            </div>
            <a (click)='AddMoreInputUpdate()'>Add More +</a>
          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Data Usage</p>
              <div class="form-group dash-form">
                <span class="input-group-addon input_custom_MB">MB</span>
                <input type="text" class="form_login_n1 dash-form-input" placeholder="" formControlName="dataUsage"
                  [value]="UpdatePlanForm.value.dataUsage" />
                <div *ngIf='updatePlanFormError.dataUsage' class="alert- mt-2">{{updatePlanFormError.dataUsage}}</div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Subject Usage</p>
              <div class="form-group dash-form">
                <input type="text" class="form_login_n1 dash-form-input" placeholder="" formControlName="subjectUsage"
                  [value]="UpdatePlanForm.value.subjectUsage" />
                <!-- <select formControlName='subjectUsage' id="Subject-Usage-update">
                    <option value={{UpdatePlanForm.value.subjectUsage}} >{{UpdatePlanForm.value.subjectUsage}}</option> 
                    <option value={{10}}>10</option>
                    <option value={{20}}>20</option>
                    <option value={{100}}>50</option>
                  </select> -->

                <div *ngIf='updatePlanFormError.subjectUsage' class="alert- mt-2">{{updatePlanFormError.subjectUsage}}
                </div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Note Usage</p>
              <div class="form-group dash-form">
                <input type="text" class="form_login_n1 dash-form-input" placeholder="" formControlName="noteUsage"
                  [value]="UpdatePlanForm.value.noteUsage" />
                <!-- <div class="slim-form-div">
                  <select id="Note-Usage-update" formControlName='noteUsage'>
                    <option value={{100}}>100</option>
                    <option value={{1000}}>1000</option>
                    <option value={{10000}}>10000</option>
                  </select>
                </div> -->
                <div *ngIf='updatePlanFormError.noteUsage' class="alert- mt-2">{{updatePlanFormError.noteUsage}}</div>
              </div>
            </div>
          </div>
          <div class="form-group text-center mt-3">
            <button class="color-button-red" style="margin-right: 10px;" (click)="delete()">Deactivate Plan</button>
            <button class="color-button" (click)="update()">Update Plan</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>