<div class="wrapper">
  <!-- Sidebar  -->
  <app-sidebar></app-sidebar>


  <!--sidebar ends----->

  <!-- Page Content  -->
  <div id="content" style="background: #F7F9FC;">


    <div class="container-fluid">

      <!-- <button type="button" id="sidebarCollapse" class="btn text-sidebar bg-turbo-yellow">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button> -->

      <div class="row d-flex justify-content-between mr-0">
        <div class="col-md-6">
          <p class="section-heading">Subscription Management</p>
          <p class="section-subheading">Good Morning, Summer</p>
        </div>
        <div class="col-md-4 d-flex justify-content-end mb-auto">

          <div class="search-box">
            <i class="fa fa-search positio_icon1"></i>
            <input type="text" name="" placeholder="What are you searching for...?" class="input_header1">
          </div>

        </div>
        <div class="col-md-2 text-right mb-auto">
          <div class="d-flex justify-content-end">
            <img src="assets/images/notif.png" class="header-icon">
            <img src="assets/images/logout.png" class="header-icon">
          </div>
        </div>
        <!-- <div class="col-md-6 text-right">
                          <button class="color-button" data-toggle="modal" data-target="#myModal">Invite Users</button>
                       </div> -->
      </div>

      <div class="overflow-div" style="height:auto;">




        <ul class="nav nav-tabs toggle-nav">
          <li class="active">
            <a data-toggle="tab" href="#home" class="toggle-header active show">Subscription Plans</a>
          </li>
          <li>
            <a data-toggle="tab" href="#menu1" (click)="allSubscriber()" class="toggle-header">All Subscribers</a>
          </li>
          <li>
            <a data-toggle="tab" href="#menu2" class="toggle-header">Subscription History</a>
          </li>
        </ul>

        <div class="container-fluid bg-white right-main-container">

          <!--content start---->

          <div class="bg-white">
            <div class="tab-content">
              <div id="home" class="tab-pane fade show active">
                <div class="">
                  <div class="row">
                    <div class="col-md-6 col-sm-12 px-4">
                      <p class="subs-light-heading mb-0">All Plans</p>
                    </div>
                    <div class="col-md-6 col-sm-12 px-4 text-right mb-3">
                      <button class="color-button" data-toggle="modal" data-target="#CreatePlan">Create new
                        plan</button>
                    </div>
                    <div class="col-md-12 px-4 mb-2" *ngFor="let plan of plans;">
                      <div class="d-flex justify-content-around shadow-box py-3">
                        <div class="trial-section">
                          <p class="subs-bold-text">{{plan.planName}}</p>
                        </div>
                        <div>
                          <p class="subs-bold-text">${{plan.planPrice}} <span class="subs-month p-0 m-0"> /month</span>
                          </p>
                        </div>
                        <div>
                          <p class="subs-para-light">For most of the business that<br> want to optimize web queries</p>
                        </div>
                        <div>
                          <p class="content-text mb-0"><span><img src="assets/images/Group 4652.png"
                                class="px-2 mb-1"></span>{{plan.configration.dataUsage}} MB Data</p>
                          <p class="content-text"><span><img src="assets/images/Group 4652.png"
                                class="px-2"></span>{{plan.configration.subjectUsage}} Subjects</p>
                        </div>
                        <div>
                          <p class="content-text"><span><img src="assets/images/Group 4652.png"
                                class="px-2"></span>{{plan.configration.noteUsage}} Notes</p>
                        </div>
                        <div class="d-flex mt-auto mb-auto">
                          <button (click)="editplan(plan._id)" class="edit-button" data-toggle="modal"
                            data-target="#EditPlan">Edit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--second tab---->
              <div id="menu1" class="tab-pane fade">
                <div class="">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length dataTables_length1 d-flex" id="example_length">
                        <label class="d-flex">
                          <p class="pt-1 registerd-user mr-2">SortBy:</p>
                          <select name="example_length" aria-controls="example" (change)="onChange($event)"
                            id="Subscription-filter" style="width: 150px;">
                            <option value="All users">All users</option>
                            <option *ngFor='let item of planList' value={{item.planName}}>{{item.planName}}</option>
                          </select>
                        </label>
                      </div>
                    </div>

                  </div>
                </div>

                <table id="example" class="table table-striped" style="width:100%">

                  <thead>
                    <tr class="admin_table table-style table-style-subscription">
                      <th style="padding-left: 6%;">Name</th>
                      <th>Email Address</th>
                      <th>Subscription Plan</th>
                      <th>Subscription Date</th>
                      <!-- <th>Expiry Date</th> -->
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="admin_table table-style table-style-subscription-head"
                      *ngFor="let subscriber of isSubscriptionHistory | paginate: { itemsPerPage: 10, currentPage: p }">
                      <td>
                        <!-- {{console.log(item)}} -->
                        <div class="d-flex align-items-center table-image-div h-100 sec">
                          <img class="pro_icon1" src="assets/images/contact_person.png">
                          <p class="mb-0">{{subscriber.fullName}}</p>
                        </div>
                      </td>
                      <td>
                        <p>{{subscriber.email}}</p>
                      </td>
                      <td>
                        <p>{{subscriber.Subscription_Plan}}</p>
                      </td>
                      <td>
                        <p>{{subscriber.Subscription_Date | date}}</p>
                      </td>
                      <!-- <td><p>01-01-2020</p></td> -->
                      <td>
                        <p class="status-text purple">{{subscriber.Status}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>

              </div>

              <!--3rd content start-------->


              <div id="menu2" class="tab-pane fade">
                <div class="">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 py-2">
                      <div class="d-flex">
                        <!-- <button class="white-button mr-3" id='activeButton' (click)="onActive()"  >Active</button>
                        <button class="white-button mr-3" id='expiredButton' (click)="onExpired()">Expired</button>
                        <button class="white-button" id='allButton' (click)="onAllHisotry()">All History</button> -->
                        <select name="example_length" aria-controls="example" (change)="onChangeHistory($event)"
                          id="SubscriptionHistory-filter" style="width: 150px;">
                          <option value="Allusers">All History</option>
                          <option value="Active">Active</option>
                          <option value="Expired">Expired</option>
                          <option *ngFor='let item of planList' value={{item.planName}}>{{item.planName}}</option>
                        </select>
                        <div class="search-box">
                          <i class="fa fa-search positio_icon1"></i>
                          <input type="text" (change)="onChangeSearch($event)" placeholder="search by Name and Email"
                            class="input_header1">
                          <!-- <button class="btn btn-info" (click)="searchByName()" >search</button> -->
                          <input [(ngModel)]="searchText" type='date' placeholder="search text goes here">
                        </div>
                        <!-- <div class="d-flex">
                          <input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />
                        </div> -->
                        <!-- <div style="padding:25px;">
                          <div class="form-group">
                            <div class="input-group"
                              name="daterangeInput" 
                              daterangepicker 
                              [options]="options" 
                              (selected)="selectedDate($event)"
                              (applyDaterangepicker)="applyDate($event)"
                            >
                              <span class="form-control uneditable-input">
                                  {{ daterange.start | date:'M/dd/y' }} - {{ daterange.end| date:'M/dd/y' }}
                              </span>
                              <span class="input-group-btn">
                                <a type="button" class="btn btn-default">
                                  <i class="glyphicon glyphicon-calendar"></i>
                                </a>
                              </span>
                            </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <table id="example" class="table table-striped" style="width:100%">
                  <thead>
                    <tr class="admin_table table-style">
                      <th style="padding-left: 5%;">Name & Email Address</th>
                      <th>Subscription Plan</th>
                      <th>Subscription Date</th>
                      <th>Expiry Date</th>
                      <th>Price</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="admin_table table-style table-style-subscription-head"
                      *ngFor="let item of SubscriptionHistoryList | filter : searchKey |paginate: { itemsPerPage: 10, currentPage: p } ">
                      <td>
                        <div class="d-flex align-items-center table-image-div">
                          <img class="pro_icon1" src="assets/images/contact_person.png">
                          <div class="pl-4 pt-2">
                            <p class="subscriber-name mb-0">{{item.fullName}} </p>
                            <p class="subscriber-email">{{item.email}}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p>{{item.Subscription_Plan}}</p>
                      </td>
                      <td>
                        <p>{{item.date | date}}</p>
                      </td>
                      <td>
                        <p>{{item.Expiry_Date | date}}</p>
                      </td>
                      <td>
                        <p>${{item.Price}}.00</p>
                      </td>
                      <td>
                        <p class="status-text purple">{{item.Status}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--overflow div ends---->
    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal" id="CreatePlan">
  <div class="modal-dialog">
    <div class="modal-content  curved p-3" style="width: 120%;margin-top: -18%;">

      <!-- Modal Header -->
      <div class="modal-header">
        <p class="Modal-heading">Create New Plan</p>
        <button type="button" class="modal-close" data-dismiss="modal">close</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="createPlanForm" class="form_login w-100">
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Name</p>
              <div class="form-group dash-form">
                <input type="text" formControlName='planName' class="form_login_n1 dash-form-input"
                  placeholder="Plan Name" />
                <div *ngIf='createPlanFormError.planName' class="alert- mt-2">{{createPlanFormError.planName}}</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Price</p>
              <div class="form-group dash-form">
                <div class="input-group">
                  <span class="input-group-addon input_custom_1">$</span>
                  <input type="number" formControlName='planPrice' placeholder="Plan Price"
                    class="form-control currency" id="c2" />
                  <div *ngIf='createPlanFormError.planPrice' class="alert- mt-2">{{createPlanFormError.planPrice}}</div>
                </div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Plan Duration</p>
              <div class="form-group dash-form">
                <select (change)="somethingChanged($event)" formControlName='duration' id="plan-duration"
                  style="width: 150px;">
                  <option value="">Choose Subscriptions</option>
                  <option value="30">30 Days</option>
                  <option value="60">60 Days</option>
                  <option value="90">90 Days</option>
                </select>
                <div *ngIf='createPlanFormError.duration' class="alert- mt-2">{{createPlanFormError.duration}}</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Description</p>
              <div class="form-group dash-form">
                <input type="text" formControlName='description' class="form_login_n1 dash-form-input" placeholder=""
                  style="height: 100px !important;" />
                <div *ngIf='createPlanFormError.description' class="alert- mt-2">{{createPlanFormError.description}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Data Usage</p>
              <div class="form-group dash-form">
                <span class="input-group-addon input_custom_MB">MB</span>
                <input type="text" name="dataUsage" class="form_login_n1 dash-form-input" placeholder=""
                  formControlName="dataUsage" />
                <div *ngIf='createPlanFormError.dataUsage' class="alert- mt-2">{{createPlanFormError.dataUsage}}</div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Subject Usage</p>
              <div class="form-group dash-form">
                <select id="Subject-Usage" formControlName='subjectUsage' style="width: 150px;">
                  <option value="">choose subject</option>
                  <option value="10">10 Subjects</option>
                  <option value="20">20 Subjects</option>
                  <option value="100">100 Subjects</option>
                </select>
                <div *ngIf='createPlanFormError.subjectUsage' class="alert- mt-2">{{createPlanFormError.subjectUsage}}
                </div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Note Usage</p>
              <div class="form-group dash-form">
                <select formControlName="noteUsage" id="Note-Usage" style="width: 150px;">
                  <option value="">Choose an option</option>
                  <option value="100">100 Notes</option>
                  <option value="500">500 Notes</option>
                  <option value="1000">1000 Notes</option>
                </select>
                <div *ngIf='createPlanFormError.noteUsage' class="alert- mt-2">{{createPlanFormError.noteUsage}}</div>
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <button class="color-button" type='submit' (click)="savePlan()" [disabled]='createPlanForm.invalid'>Save
              Plan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>





<!-- The Modal -->
<div class="modal" id="EditPlan">
  <div class="modal-dialog">
    <div class="modal-content  curved p-3" style="width: 120%;margin-top: -18%;">

      <!-- Modal Header -->
      <div class="modal-header">
        <p class="Modal-heading">Edit Plan</p>
        <button type="button" class="modal-close" (click)="close()">close</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form  [formGroup]="UpdatePlanForm" class="form_login w-100" >
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Name</p>
              <div class="form-group dash-form">
                <input type="name" formControlName='planName' [value]="UpdatePlanForm.value.planName"  class="form_login_n1 dash-form-input" 
                  placeholder="Plan Name" />
                  <div *ngIf='updatePlanFormError.planName' class="alert- mt-2">{{updatePlanFormError.planName}}</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Price{{planPrice}}</p>
              <div class="form-group dash-form">
                <div class="input-group">
                  <span class="input-group-addon input_custom_1">$</span>
                  <input type="number" formControlName='planPrice'  [value]="UpdatePlanForm.value.planPrice" placeholder="Plan Price"
                    class="form-control currency" id="c2" />
                  <div *ngIf='updatePlanFormError.planPrice' class="alert- mt-2">{{updatePlanFormError.planPrice}}</div>
                </div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Plan Duration</p>
              <div class="form-group dash-form">
                <select  formControlName='duration' id="plan-durationupdate" >
                  <option  [value]="planDuration">{{planDuration}}</option>
                  <option value="30">30</option>
                  <option value="60">60</option>
                  <option value="90">90</option>
                </select>
                <div *ngIf='updatePlanFormError.duration' class="alert- mt-2">{{updatePlanFormError.duration}}</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Plan Description</p>
              <div class="form-group dash-form">
                <input type="text" class="form_login_n1 dash-form-input"  [value]="UpdatePlanForm.value.description"  placeholder=""
                  style="height: 100px !important;" formControlName='description' />
              </div>
              <div *ngIf='updatePlanFormError.description' class="alert- mt-2">{{updatePlanFormError.description}}</div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <p class="plan-form-label">Data Usage</p>
              <div class="form-group dash-form">
                <span class="input-group-addon input_custom_MB">MB</span>
                <input type="text"  class="form_login_n1 dash-form-input" placeholder=""
                  formControlName="dataUsage"  [value]="UpdatePlanForm.value.dataUsage" />
                <div *ngIf='updatePlanFormError.dataUsage' class="alert- mt-2">{{updatePlanFormError.dataUsage}}</div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Subject Usage</p>
              <div class="form-group dash-form">
                <select formControlName='subjectUsage'  id="Subject-Usage-update">
                  <!-- <option value={{UpdatePlanForm.value.subjectUsage}} >{{UpdatePlanForm.value.subjectUsage}}</option> -->
                  <option value={{10}}>10</option>
                  <option value={{20}}>20</option>
                  <option value={{100}}>50</option>
                </select>
                <div *ngIf='updatePlanFormError.subjectUsage' class="alert- mt-2">{{updatePlanFormError.subjectUsage}}</div>
              </div>
            </div>
            <div class="col">
              <p class="plan-form-label">Note Usage</p>
              <div class="form-group dash-form">
                <select id="Note-Usage-update" formControlName='noteUsage' >
                  <!-- <option  [value]="UpdatePlanForm.value.planName">{{ UpdatePlanForm.value.noteUsage}}</option> -->
                  <option value={{100}}>100</option>
                  <option value={{1000}}>1000</option>
                  <option value={{10000}}>10000</option>
                </select>
                <div *ngIf='updatePlanFormError.noteUsage' class="alert- mt-2">{{updatePlanFormError.noteUsage}}</div>
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-danger "  style="margin-right: 10px;" (click)="delete()">Delete Plan</button>
            <button class="color-button"  (click)="update()">Plan Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>